* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

.container {
    max-width: 80%;
    margin: 20px auto;
}

.container a{
    display: inline-block;
    margin-bottom: 30px;
    color: green;
    font-size: 1.5rem;
    text-decoration: none;
}

.container a span{
    color: #fff;
    background-color: green;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid green;
    border-radius: 15px;
}